#Quiénes-Somos {
  margin-top: 50px;
  margin-bottom: 80px;
  scroll-margin-top: 150px;

  i {
    font-size: 3rem;
  }
  @media only screen and (max-width: 600px) {
    i {
      transform: rotate(45deg);
      margin-right: 20px;
      color: rgb(175, 175, 182);
    }
  }
}
